.page-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #f0f2f3;
  padding: 2vh 1vw;
}

.page-header {
  height: 10vh;
  display: flex;
}

.header-left {
  width: 10%;
  font-weight: 600;
  color: #88817f;
  letter-spacing: -0.89px;
  font-size: 18px;
}

.header-right {
  width: 90%;
  position: relative;
}

.add-location-button {
  position: absolute !important;
  top: 0px;
  right: 0px;
  height: 6vh !important;
  background-color: #2b5e8c !important;
  border-radius: 3vh !important;
  color: #cadeeb !important;
  font-weight: 600 !important;
  cursor: pointer !important;
}

.page-table {

}
